*{
    margin: 0;
    padding: 0;
}
.upperPortion{
    background-color: black;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 20vw;
}
.Image{
    margin-top: 4rem;
    margin-left: 40px;
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 50%;
}
.nameText{
    color: white;
    font-size: 7vmin;
    animation-name: slide-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slide-in {
    from {
      translate: 100vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }