*{
    margin: 0;
    padding: 0;
}

body{
  width: 85%;
}


.upperPortion{
    background-color: black;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 20vw;
}
.Image{
    margin-top: 3rem;
    margin-left: 40px;
    height: 40vmin;
    width: 37vmin;
    background-size: cover;
    border-radius: 50%;
}
.nameText{
    color: #1DCD9F;
    font-size: 7vmin;
    animation-name: slide-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slide-in {
    from {
      translate: 100vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

  .firstMiddlePortion{
    background-color: #222222;
    height: 50vh;
    width: 100vw;
  }

  .navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav{
    font-size: 1.4rem;
    color: #169976;
  }

  .nav:hover{
    font-size: 1.5rem;
    color: #1DCD9F;
  }

  .aboutHeading{
    color: white;
    text-align: center;
    margin-top: 1.1rem;
  }

  .aboutText{
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 3vmin;
    color: white;
  }

  .educationportion{
    background-color: #1DCD9F;
    width: 100vw;
    height: 100vh;
  }

  .educationHeading{
    text-align: center;
    padding-top: 1.1rem;
  }

.drmcImg{
  height: 45vmin;
  width: 55vmin;
  margin-top: 3rem;
}

  .drmc{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }

  .aboutDrmc{
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    animation-name: slide-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
  }

  .cuetImg{
    height: 30vmin;
    width: 40vmin;
    margin-top: 3rem;
    margin-right: 2rem;
  }
  
    .cuet{
      display: flex;
      justify-content:space-evenly;
      align-items: center;
    }
  
    .aboutCuet{
      font-size: 1.3rem;
      text-align: center;
      align-items: center;
      animation-name: slide-in-left;
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-direction: normal;
    }
    @keyframes slide-in-left {
      from {
        translate: -100vw 0;
        scale: 200% 1;
      }
    
      to {
        translate: 0 0;
        scale: 100% 1;
      }
    }

    .projectPortion{
      background-color: #169976;
      width: 100vw;
      height: 100vh;
      text-align: center;
    }
    .project{
      padding: 1.1rem;
    }

    .achievementAndPrizes{
      background-color: #1DCD9F;
      height: 100vh;
      width: 100vw;
    }

  .achievement{
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.3rem;
  }

  .achiHeading{
    text-align: center;
    padding-bottom: 1.1rem;
  }

  .prize{
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.3rem;
  }

  .priHeading{
    text-align: center;
    padding-bottom: 1.1rem;
  }

  .contactPortion{
    background-color: #222222;
    width: 100vw;
    height: 100vh;
    color: white;
  }

  .contactHeading{
    text-align: center;
    padding-top: 2rem;
    font-size: 3vmax;
  }

  .upperSection{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .middleSection{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .lowerSection{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo{
    height: 10vmax;
    width: 10vmax;
  }